.homepage{
    margin-top: 15px;
}

.mainstream{
    height: 34vw;
    margin: 0px 135px;
    background: url(../../../assets/avatar/image.png) no-repeat;
    background-size: contain;
    position: relative;
}   

.doctor-image{
    position: absolute;
    bottom: 15px;
    left: -15px;
    width: 40%;
}

.mainstream-content{
    position: absolute;
    top: 70px;
    right: 90px;
    color: #054e8a;
    gap: 10px;
}

.mainstream-title{
    font-size: 2.5vw;
    font-weight: 600;
    padding-bottom: 40px;
}

.mainstream-description{
    display: flex;
    font-size: 1.5vw;
    font-weight: 600;
    width: 100%;
    justify-content: space-between;
    gap: 20px
}

.mainstream-description-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 230px;
}

.service{
    width: 20%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: white;
    background-color: #3E70A7;
    opacity: 1.2;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #3E70A7;
    border: 1px solid #9AD8E2;
}

.service-icon{
    height: 50px;
}

.service-title{
    font-size: 1.2vw;
    text-align: center;
    min-height: 110px;
    border-bottom: 2px solid #9AD8E2;
}

.strengths{
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 0px;
}

.strengths-content{
    width: 82%;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #9AD8E2;
    background-color: #3E70A7;
    opacity: 1.2;
    color: white;
}

.strengths-title{
    font-size: 1.6vw;
    font-weight: 600;
    padding-bottom: 25px;
}

.strengths-content-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-bottom: 20px;
}

.strength-detail-title{
   display: flex;
    gap: 15px;
    padding-bottom: 10px;
}

.strength-title{
    font-size: 1.2vw;
    font-weight: 600;
    width: 90%;
    padding-top: 8px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

.strength-detail-content{
    max-width: 90%;
    padding-left: 45px;
}

.service-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

.service-packages-detail {
    width: 75%;
    color: #587AC3;
    opacity: 1.2;
}

.service-packages-header {
    width: 80%;
    font-size: 1.6vw;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 2px solid #9AD8E2;
    margin-bottom: 20px; 
}

.service-packages-content {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-between;
}

.service-package {
    flex: 1; 
    text-align: center; 
    border: 2px solid #587AC3;
    padding: 30px;
}

.package-icon{
    height: 40px;
}


.service-package h4{
    padding: 10px 0;
}

.service-package p{
    padding: 10px 0;
}

.service-package hr{
    width: 70%;
    border: 1px solid #587AC3;
    text-align: center;
    margin: 10px auto;
}

.package-price{
    font-size: 1.2vw;
    font-weight: 600;
    padding: 8px 0;
    margin: 40px auto;
    background-color: #e2f2f5;
}

.book-button{
    width: 50%;
    cursor: pointer;
    border: 1px solid #9AD8E2;
    border-radius: 50px;
    padding: 8px;
    margin: auto;
}
.doctor-list {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .doctor-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  .doctor-card h3 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
  }
  
  .doctor-card p {
    font-size: 14px;
    color: #777;
  }