.navbar-user{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bce6f7;
    padding: 10px 100px;
  }
  
  .navbar-user-left{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px ;
  }
  
  .navbar-user-right{
    display: flex;
    align-items: center;
  }
  
  .navbar-user button{
    background-color: white;
    font-size: 16px;
    color: #0787b2;
    border: 1px solid #0787b2;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .navbar-user button:hover{
    background-color: #d9f5f8;
  }
  
  .navbar-user .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #9AD8E2;
  }
  
  .navbar-user li{
    cursor: pointer;
  }
  
  .navbar-user-search-icon{
    position: relative;
  }
  
  .navbar-user-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
  }
  
  .navbar-user-profile{
    position: relative;
    cursor: pointer;
  }
  
  .navbar-user-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
  }
  
  .navbar-user-profile:hover .navbar-user-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f2f8fa;
    padding: 12px 15px;
    border-radius: 4px;
    border: 1px solid #bce6f7;
    outline: 2px solid white;
    list-style: none;
  }
  
  .profile{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .account-name{
    font-size: 18px;
    font-weight: 500;
  }
  
  .avatar-frame{
    width: 40px;
    height: 40px;
    border: #11afee 2px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2f3f8;
  }
  
  .avatar-frame img{
    width: 70%;
  }
  
  .navbar-user-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .navbar-user-profile-dropdown img{
    width: 20px;
  }
  
  .navbar-user-profile-dropdown li:hover{
    color: #11afee;
  }