.booking-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 10px;
}

.booking-header{
    font-size: 1.2em;
    margin: 0;
    text-align: center;
}

.logo-image{
    width: 200px;
    height: 200px;
}

.booking-description{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    margin-top: 10px;
}

.booking-form{
    border: 2px solid #d4d9e4;
    background-color: #f3f5fa;
    padding: 20px 40px;
}

.booking-form-title{
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
}

.booking-btn{
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
}

.booking-btn:hover{
    background-color: #cc0000;
}

