.navbar{
  padding: 5px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-left{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px ;
}

.slogon{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar .logo{
  width: 100px;
}

.navbar-center{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.navbar-branch{
  font-size: 30px;
  gap: 10px;
}

.navbar-menu{
  display: flex;
  list-style: none;
  gap: 20px;
  color:  #49557e;
  font-size: 18px;
}

.navbar-menu a{
  text-decoration: none;
  color: black;
}

.navbar-right{
  display: flex;
  align-items: center;
}

.navbar button{
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid #9AD8E2;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover{
  background-color: #d9f5f8;
}

.navbar .active{
  padding-bottom: 2px;
  border-bottom: 2px solid #9AD8E2;
}

.navbar li{
  cursor: pointer;
}

.navbar-search-icon{
  position: relative;
}

.navbar-search-icon .dot{
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

.navbar-profile{
  position: relative;
  cursor: pointer;
}

.navbar-profile-dropdown{
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}

.navbar-profile:hover .navbar-profile-dropdown{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f2f8fa;
  padding: 12px 15px;
  border-radius: 4px;
  border: 1px solid #bce6f7;
  outline: 2px solid white;
  list-style: none;
}

.profile{
  display: flex;
  align-items: center;
  gap: 20px;
}

.account-name{
  font-size: 18px;
  font-weight: 500;
}

.avatar-frame{
  width: 40px;
  height: 40px;
  border: #11afee 2px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2f3f8;
}

.avatar-frame img{
  width: 70%;
}

.navbar-profile-dropdown li{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-profile-dropdown img{
  width: 20px;
}

.navbar-profile-dropdown li:hover{
  color: #11afee;
}